<%- include('../partials/header') %> <%- include('../partials/sidebar') %>

<div class="layout__body">
  <h1 class="dashboard__title">Welcome <%= user.name %></h1>

  <% if (userNotes.length > 0) { %>
  <div class="dashboard__notes">
    <div class="dashboard__header" style="margin-bottom: 2rem;">
      <h2 style="font-weight: bold">Your Notes</h2>

      <a href="/notes/new" class="dashboard__create-note-button"
        >Create New Note</a>
    </div>

    <div class="dashboard__card-grid">
      <% userNotes.forEach(note => { %>
      <div class="dashboard__card">
        <div class="dashboard__note-header">
          <h3 class="dashboard__card-title"><%= note.title %></h3>
        </div>
        <div class="dashboard__card-footer">
          <a
            href="/notes/<%= note._id %>"
            class="dashboard__note-action view-button"
            >Go to note <i class="las la-sticky-note" style="position: relative;top: 1px;"></i></a>
          
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <% } else { %>
    <div class="dashboard__notes">
      <div class="dashboard__header">
        <p>You don't have any notes yet.</p>
        <a href="/notes/new" class="dashboard__create-note-button "
          >Create New Note</a
        >
      </div>
    </div>
    <% } %>
  </div>

  <style>
    .layout__body {
      padding: 1rem;
      background: #f6f7fb;
      width: 80%;
      padding-top: 10%;
      padding-right: 8%;
      margin-left: auto;
    }
    .dashboard__title {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #2a2438;

      font-weight: 300;
    }
  </style>

  <script>

    if(<%= deleteNote %>) {
      Toastify({
        text: "Note deleted successfully! 😊 ",
        duration: 3000,
        destination: "/notes",
        newWindow: false,
        close: true,
        gravity: "top", 
        position: "center", 
        stopOnFocus: true,
        style: {
          background: "linear-gradient(to right, #dc2626, #7f1d1d)",
        },
        onClick: function () {},
      }).showToast();
    }

    sessionStorage.removeItem("deleteNote");
    if(<%= newNote %>) {
      sessionStorage.setItem("newNote", true);
      Toastify({
        text: "Note created successfully! 😊 ",
        duration: 3000,
        destination: "/notes",
        newWindow: false,
        close: true,
        gravity: "top", 
        position: "center", 
        stopOnFocus: true, 
        style: {
          background: "linear-gradient(to right, #22c55e, #15803d)",
        },
        onClick: function () {},
      }).showToast();

      sessionStorage.removeItem("newNote");
    }
    if (sessionStorage.getItem("initialLogin") !== null) {
      Toastify({
        text: "You're logged in! 🎉 ",
        duration: 3000,
        destination: "/notes",
        newWindow: false,
        close: true,
        gravity: "top", 
        position: "center",
        stopOnFocus: true,
        style: {
          background: "linear-gradient(to right, #e447a0c5, #3dd1e7)",
        },
        onClick: function () {},
      }).showToast();

      sessionStorage.removeItem("initialLogin");
    }
  </script>

  <style>
    html {
      overflow: scroll !important;
    }
  </style>

  <%- include('../partials/footer') %>
</div>
